body {
	background-color: #ffffff;
	left: 0px;
	top: 0px;
	font-family: Calibri,Arial,Helvetica,sans-serif;
	font-size: 16px;
	padding: 0;
	background-image:url('../images/star_tile.gif')
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

.container {
	background-color: #CCFFFF;
	border-style:solid;
	border-width:5px;
	border-color: #ff3300;
}

hr {
	border: 0;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #000000;
	padding-bottom: 3px;
	margin-top: 5px;
}

#calcTable {
	margin-top: 10px;
}

th {
	background: #CAE8EA;
  color: #000000;
  border-right: 1px solid #C1DAD7;
  border-bottom: 1px solid #C1DAD7;
  border-top: 1px solid #C1DAD7;
  text-transform: uppercase;
}

th.skip {
	background: #CCFFFF;
}

td {
  border-right: 2px solid #C1DAD7;
  border-bottom: 1px solid #C1DAD7;
  background: #fff;
  color: #000000;
}
